@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: #f5f7fa;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
